@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');

* {
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: #ffffff;
    font-family: 'Spectral', serif;
}

body {
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

header {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
footer{
    position: absolute;
    bottom: 0;
}
.pull-left {
    align-self: stretch;
}

.pull-right {
    align-self: flex-end;
}

[id^=app_] {
    display: flex;
}